[Desktop Entry]
Name=Mauna USB Formatter
Name[af]=Mauna USB-formateerder
Name[ar]=مُنسق USB من مونا
Name[de]=Mauna USB-Formatierer
Name[es]=Formateador USB Mauna
Name[eu]=Mauna USB Formateatzailea
Name[fil]=Mauna USB Formatter
Name[fr]=Formateur USB Mauna
Name[hi]=मौना यूएसबी फ़ॉर्मेटर
Name[id]=Pemformat USB Mauna
Name[ms]=Pemformat USB Mauna
Name[pl]=Formater USB Mauna
Name[pt_BR]=Formatador USB do Mauna
Name[pt]=Formatador USB Mauna
Name[zh_CN]=莫纳 USB 格式化程序
GenericName=USB Formatter
GenericName[af]=USB-formateerder
GenericName[ar]=منسق يو إس بي
GenericName[de]=USB-Formatierer
GenericName[es]=Formateador USB
GenericName[eu]=USB Formateatzailea
GenericName[fil]=USB Formatter
GenericName[fr]=Formateur USB
GenericName[hi]=यूएसबी फ़ॉर्मेटर
GenericName[id]=Pemformat USB
GenericName[ms]=Pemformat USB
GenericName[pl]=Formater USB
GenericName[pt_BR]=Formatador USB
GenericName[pt]=Formatador USB
GenericName[zh_CN]=USB格式化器
Comment=Format USB devices easily.
Comment[af]=Formateer USB-toestelle maklik.
Comment[ar]=قم بتهيئة أجهزة USB بسهولة.
Comment[de]=Einfaches Formatieren von USB-Geräten.
Comment[es]=Formatee fácilmente los dispositivos USB.
Comment[eu]=Formateatu USB gailuak erraz.
Comment[fil]=Madaling i-format ang mga USB device.
Comment[fr]=Formatez facilement les périphériques USB.
Comment[hi]=USB डिवाइस को आसानी से फ़ॉर्मेट करें.
Comment[id]=Format perangkat USB dengan mudah.
Comment[ms]=Formatkan peranti USB dengan mudah.
Comment[pl]=Łatwe formatowanie urządzeń USB.
Comment[pt_BR]=Formate facilmente dispositivos USB.
Comment[pt]=Formata dispositivos USB facilmente.
Comment[zh_CN]=轻松格式化 USB 设备。
Exec=mauna-usb-formatter
Icon=mauna-usb-formatter
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
Keywords=format;disk;usb
Keywords[af]=formaat;skyf;usb
Keywords[ar]=التنسيق ؛ القرص ؛ USB
Keywords[de]=format;datenträger;usb
Keywords[es]=formatear;disco;usb
Keywords[eu]=formatua;disko;usb
Keywords[fil]=format;disk;usb
Keywords[fr]=format;disque;usb
Keywords[hi]=प्रारूप;डिस्क;यूएसबी
Keywords[id]=format;disk;usb
Keywords[ms]=format;cakera;usb
Keywords[pl]=sformatuj;dysk;usb
Keywords[pt_BR]=formatar;disco;usb
Keywords[pt]=formatar;disco;usb
Keywords[zh_CN]=格式；磁盘；USB
