<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <vendor>Mauna Linux</vendor>
  <vendor_url>https://maunalinux.top/</vendor_url>

  <action id="top.mauna.pkexec.mauna-usb-formatter">
    <description>Run USB Formatter</description>
    <message>Authentication is required to run Mauna USB Formatter</message>
    <message xml:lang="af">Stawing word vereis om Mauna USB-formateerder te laat loop</message>
    <message xml:lang="ar">المصادقة مطلوبة لتشغيل Mauna USB Formatter</message>
    <message xml:lang="da">Der kræves godkendelse for at køre Mauna USB-formater</message>
    <message xml:lang="de">Zur Ausführung des Mauna USB-Formatierer ist eine Authentifizierung erforderlich</message>
    <message xml:lang="el">Απαιτείται έλεγχος ταυτότητας για την εκτέλεση του Mauna USB Formatter</message>
    <message xml:lang="en">Authentication is required to run Mauna USB Formatter</message>    
    <message xml:lang="es">Se requiere autenticación para ejecutar Formateador USB Mauna</message>
    <message xml:lang="eu">Autentifikazioa behar da Mauna USB Formateatzailea exekutatzeko</message>    
    <message xml:lang="fi">Mauna USB Formatterin käyttäminen edellyttää todennusta</message>
    <message xml:lang="fil">Kinakailangan ang pagpapatunay upang patakbuhin ang Mauna USB Formatter</message>
    <message xml:lang="fr">L'authentification est requise pour exécuter Formateur USB Mauna</message>    
    <message xml:lang="he">נדרש אימות כדי להפעיל את פורמט USB של Mauna</message>
    <message xml:lang="hi">Mauna USB फ़ॉर्मेटर चलाने के लिए प्रमाणीकरण आवश्यक है</message>
    <message xml:lang="id">Otentikasi diperlukan untuk menjalankan Mauna USB Formatter</message>
    <message xml:lang="it">L'autenticazione è necessaria per eseguire Formattatore USB Mauna</message>
    <message xml:lang="ja">Mauna USB フォーマッタ を実行するには認証が必要です</message>
    <message xml:lang="ko">Mauna USB 포맷터를 실행하려면 인증이 필요합니다.</message>
    <message xml:lang="ms">Pengesahan diperlukan untuk menjalankan Pemformat USB Mauna</message>    
    <message xml:lang="nl">Verificatie is vereist om Mauna USB-formatter uit te voeren</message>
    <message xml:lang="no">Autentisering kreves for å kjøre Mauna USB Formatter</message>
    <message xml:lang="pl">Uwierzytelnienie jest wymagane do uruchomienia Formater USB Maunaa</message>
    <message xml:lang="pt_BR">A autenticação é necessária para executar o Mauna USB Formatter</message>    
    <message xml:lang="pt">A autenticação é necessária para executar o Mauna USB Formatter</message>
    <message xml:lang="ro">Este necesară autentificarea pentru a rula Formatator USB Mauna</message>
    <message xml:lang="ru">Для запуска USB-форматер Mauna требуется аутентификация.</message>
    <message xml:lang="se">Autentisering krävs för att köra Mauna USB-formaterare</message>   
    <message xml:lang="th">จำเป็นต้องมีการรับรองความถูกต้องเพื่อเรียกใช้ Mauna ฟอร์แมต USB</message>     
    <message xml:lang="uk">Для запуску Mauna USB Formatter потрібна автентифікація</message>         
    <message xml:lang="zh_CN">运行 Mauna USB 格式化程序 需要身份验证</message>
    <message xml:lang="zh_HK">運行 Mauna USB 格式化程序 需要身份驗證</message>
    <message xml:lang="zh_MO">運行 Mauna USB 格式化程序 需要身份驗證</message>    
    <message xml:lang="zh_TW">運行 Mauna USB 格式化程序 需要身份驗證</message>        
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mauna/mauna-usb-formatter/src/USBFormatter.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
